@{
    ViewBag.Title = "Home ";
}

<hgroup class="title">
    <h1>@ViewBag.TitlePage.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    Login to use the chat 
    </p>

    
</article>

